{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
		  	<img src="{% static 'img/python_logo.png' %}" style="height: 150px;">
            <h1>Python Chile</h1>
			<hr class="small">
            <span class="subheading">Comunidad Python Chile</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">


		{% for post in blog_post %}
        <div class="post-preview">
          <a href="{{ post.url }}">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ post.description }}
            </h3>
          </a>
          <p class="post-meta">Publicado por
            {{ post.owner }}
            en {{ post.date }}</p>
        </div>
        <hr>
		{% endfor %}

        <!-- Pager -->
        {% comment %} <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
		 {% endcomment %}
      </div>
    </div>
  </div>

{% endblock content %}
