{% extends "base.html" %}
{% load static %}

{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <img src="{% static 'img/pythonchile.png' %}" style="height: 100px;">
                    <h2>{{ page.title }}</h2>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
{% endblock %}
