{% extends "base.html" %}

{% load i18n static %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block extra_css %}
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
        <style>
          body {
            background: #384047;
          }
        </style>
{% endblock extra_css %}

{% block content %}


<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  <h1>{% trans "Sign Up" %}</h1>
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
