{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <img src="{% static 'img/pythonchile.png' %}" style="height: 100px;">
                        <h2>Python Chile</h2>
                        <hr class="small">
                        <span class="subheading">Comunidad Oficial de Python en Chile</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

            <h1>Buscar</h1>

            <form action="{% url 'search' %}" method="get">
                <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
                <input type="submit" value="Buscar" class="button">
            </form>

            {% if search_results %}
                <ul>
                    {% for result in search_results %}
                        <li>
                            <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
                            {% if result.search_description %}
                                {{ result.search_description }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

                {% if search_results.has_previous %}
                    <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
                {% endif %}

                {% if search_results.has_next %}
                    <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
                {% endif %}
            {% elif search_query %}
                No results found
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
