{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}

  <!-- Page Header -->
  {% if self.image %}
  <header class="masthead" style="background-image: url('{{ self.image.url }}')">
  {% else %}
  <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
  {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <img src="{% static 'img/pythonchile.png' %}" style="height: 100px;">
            <h2>{{ page.title }}</h2>
            <h3 class="subheading">{{ page.description }}</h3>
            <span class="meta">Publicado por
              {{ self.owner }}
              el {{ self.date }}, <a href="{{page.get_url}}#disqus_thread">comentarios del post </a> 
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
        {% with blocks=self.body %}

            {% for block in blocks %}
                {% if block.block_type == 'heading' %}
                    <h2>{{ block.value }}</h2>
                {% else %}
                <section class="block-{{ block.block_type }}">
                    {{ block }}
                </section>
                {% endif %}
            {% endfor %}

        {% endwith %}

        </div>
      </div>
    </div>
  </article>

  <hr>
  <!--Comments-->
  <div class="container" style="padding-right: 50px;padding-left: 50px;">
    <div class="row">
      <div class="col-lg-10  col-md-10 mx-auto " id="disqus_thread">
      {% include 'comments.html' with url=page.url %}
      </div>
    </div>
  </div>
  
{% endblock %}


{% block extra_js %}
    <script id="dsq-count-scr" src="//python-chile.disqus.com/count.js" async></script>
{% endblock %}