# This is a basic workflow to help you get started with Actions

name: CI

on: [push]

jobs:
  deploy:
    if: github.ref == 'refs/heads/master'
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v1
      - name: Push to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOSTNAME }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PIOLA }}
          script: cd ${{ secrets.WEB_PATH }} && sudo whoami >> .test_action && sudo date >> .test-action
